<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></script>
<!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/menustyle.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">            
    <title>Menu</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Log out</a>
          </div>
        </div>
      </nav>
    <center>
    <div class="vertical-menu">
        <a class="active">Menu</a>
        <a href="/movie/createNewMovie">Create new movie</a>
        <a href="/movie/searchMovies">Search movies</a>
        <%if(isAdmin){%>
            <a href="/users">Edit Users</a>
        <%}%>
        <% if(msg != '') { %>
          <div class="menumsg"><p><b><%= msg %></b></p></div>    
    <% } %>
    </center>
     </div>
  
  
 
</body>
</html>