<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></script>
<!-- font awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href='/stylesheets/searchMoviesStyle.css' />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/movie">Menu</a>
            <a class="nav-item nav-link" href="/login">Log out</a>
          </div>
        </div>
      </nav>
<section class="search-sec">
    <div class="container">
        <p class="h3">Search Movies</p>
        <form action="/movie/searchMovies" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Search" name="name">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" name="language">
                                <option selected value="">Choose Language</option>
                                <% languagesList.forEach(x=>{ %>
                                  <option value="<%=x%>" name="language"><%= x %></option>
                                 <% }) %>
                                </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <select class="form-control search-slt" name="genres">
                              <option selected value="">Choose Genre</option>
                                <% generslist.forEach(x=>{ %>
                                <option value="<%=x%>" name="genres"><%= x %></option>
                                <% }) %>
                         </select>
                      </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="submit" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
  
  
</body>